<section class="about">
    <h1>About Me</h1>

    <div class="content">    
        <div class="picture">
            <img src="/assets/images/profile_photo.png" alt="">
        </div>
        
        <div class="info">

            <p>
                <b>Personal Side:</b>
            </p>
            
            <p>
                <b>Professional Side: </b>
            </p>
        
            <p>
                <b>Languages:</b>
            </p>
        
            <p>
                <b>Former Education:</b>
            </p>

        </div>
    </div>

</section>