<section class="contact" id="contact">
    <h1>Contact Me</h1>
    
    <div class="content">
        <img class="draw" src="/assets/images/undraw_manage_chats_ylx0.svg" alt="">

        <div class="preference">
            <p>
                Whether you are interested to do business with me, want to chat about code, 
                or just hang out, I am happy to talk to you.
            </p>

            <p>
                My preferred way of contact is via 
                <a class="link" href="https://twitter.com/alexdanieldm"><b>Twitter</b></a>
                or 
                <a class="link" href="mailto:alexdanieldm@gmail.com"><b>Email</b></a>
            </p>
        </div>
    
        <div class="social">
            <p>
                Feel free to check out my social media presence below to get to know me better.
            </p>
            <ul>
                <li>
                    <a class="link" href="https://twitter.com/alexdanieldm">
                        <img src="/assets/icons/Social Media/twitter-brands.svg" alt="">
                    </a>
                </li>
            
                <li>
                    <a class="link" href="https://www.linkedin.com/in/alexdanieldm/">
                        <img src="/assets/icons/Social Media/linkedin-brands.svg" alt="">
                    </a>
                </li>
            
                <li>
                    <a class="link" href="https://github.com/alexdanieldm">
                        <img src="/assets/icons/Social Media/github-brands.svg" alt="">
                    </a>
                </li>
            
                <li>
                    <a class="link" href="mailto:alexdanieldm@gmail.com">
                        <img src="/assets/icons/Social Media/envelope-solid.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
</section>