<header>
    <h1>Hi, I´m Alex Duran</h1>
    <h3>A passionate Software Developer, that loves to use web-technologies to solve real world problems</h3>

    <div class="header-buttons">
        <a class="button projects_button" href="">
            <p>See PROJECTS</p>
        </a>

        <a class="resume button" href="/docs/Resume.pdf" download="Alex Duran CV">
            <p>Download RESUME</p>
        </a>
    
    </div>
</header>