<nav id="navbar">
    <p class="symbol hide-mobile">
        記号
    </p>

    <ul>
        <a href="#about">
            <li>
                <img class="mobile" src="/assets/icons/information-circle-outline.svg" alt="">
                About
            </li>
        </a>

        <a href="#projects">
            <li>
                <img class="mobile" src="/assets/icons/code-slash-sharp.svg" alt="">
                Projects
            </li>
        </a>

        <a href="#contact">
            <li>
                <img class="mobile" src="/assets/icons/mail-outline.svg" alt="">
                Contact
            </li>
        </a>

        <a class="mobile resume" href="/docs/Resume.pdf" download="Alex Duran CV">
            <li>
                <img class="mobile" src="/assets/icons/cloud-download-outline.svg" alt="">
                Resume
            </li>
        </a>
    </ul>

    <a class="resume button hide-mobile" href="/docs/Resume.pdf" download="Alex Duran CV">
        <img src="/assets/icons/cloud-download-outline.svg" alt="">
        <p>Resume</p>
    </a>
</nav>