<nav>
    <p class="symbol">
        記号
    </p>

    <ul>
        <a href="">
            <li>
                About Me
            </li>
        </a>

        <a href="">
            <li>
                Projects
            </li>
        </a>

        <a href="">
            <li>
                Contact Me
            </li>
        </a>
    </ul>

    <a class="resume" href="" download>
        <p>My Resume</p>
        <img src="/assets/icons/cloud-download-outline.svg" alt="">
    </a>
</nav>