<nav id="navbar">
    <p class="symbol">
        記号
    </p>

    <ul>
        <a href="#about">
            <li>
                About Me
            </li>
        </a>

        <a href="#projects">
            <li>
                Projects
            </li>
        </a>

        <a href="#contact">
            <li>
                Contact Me
            </li>
        </a>
    </ul>

    <a class="resume button" href="/docs/Resume.pdf" download="Alex Duran CV">
        <img src="/assets/icons/cloud-download-outline.svg" alt="">
        <p>Resume</p>
    </a>
</nav>