<section class="projects" id="projects">
    <h1>Projects</h1>

    <div class="card">
        <div class="content">
            
            <div class="picture">
                <img class="capture" src="/assets/images/crypto.jpeg" alt="">

                <a class="button" href="https://github.com/alexdanieldm/crypto">
                    <img src="/assets/icons/Social Media/github-brands.svg" alt="">
                    <p>Project Repository</p>
                </a>
            </div>

            <div class="info">
                <p>
                    <b>Name:</b> Crypto
                </p>
    
                <p>
                    <b>Technologies Used:</b> Python, Javascript, Node.js, Electron, MongoDB
                </p>
    
                <p>
                    <b>Description:</b> A cross-platform desktop application that let's you encrypt and decrypt files.
                </p>
    
                <p>
                    <b>Merits on the projects:</b>
                    <ul>
                        <li><b>1.</b> End-to-End Development</li>
                        <li>
                            <b>2.</b> Developed and designed of a hybrid cryptography system to overcome 
                            limitation of traditional cryptography algorithms.
                        </li>
                        <li><b>3.</b> Designed all UI/UX</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>