<section class="tech">
    <h1>What I like to Use</h1>

    <div class="content">
        
        <div class="logo">
            <img src="/assets/icons/logos/js-brands.svg" alt="">
            <p>Javascript</p>
        </div>

        <div class="logo">
            <img src="/assets/icons/logos/node-js-brands.svg" alt="">
            <p>NodeJS</p>
        </div>

        <div class="logo">
            <img src="/assets/icons/logos/git-alt-brands.svg" alt="">
            <p>Git</p>
        </div>

        <div class="logo">
            <img src="/assets/icons/logos/html5-brands.svg" alt="">
            <p>HTML5</p>
        </div>
        
        <div class="logo">
            <img src="/assets/icons/logos/css3-brands.svg" alt="">
            <p>CSS3</p>
        </div>

        <div class="logo">
            <img src="/assets/icons/logos/Sass-brands.svg" alt="">
            <p>Sass</p>
        </div>

        <div class="logo">
            <img src="/assets/icons/logos/Python-brands.svg" alt="">
            <p>Python</p>
        </div>

        <div class="logo mongodb-brand">
            <img src="/assets/icons/logos/mongodb-brand.svg" alt="">
            <p>MongoDB</p>
        </div>
    </div>
</section>