<section class="quote">
    
    <div class="content">
        <blockquote>
            To give real service you must add something which cannot be bought or measured with money, and that is sincerity and integrity.
        </blockquote>
    </div>
</section>