<header>
    <h1>Hi, I´m Alex Duran</h1>
    <h3>A passionate Software Developer, who loves using web-technologies to solve real world problems</h3>

    <div class="header-buttons">
        
        <a class="button projects_button" href="#projects">
            <img src="/assets/icons/code-slash-sharp.svg" alt="">
            <p>See PROJECTS</p>
        </a>

        <a class="button resume" href="/docs/Resume.pdf" download="Alex Duran CV">
            <img src="/assets/icons/cloud-download-outline.svg" alt="">
            <p>Download RESUME</p>
        </a>
    
    </div>
</header>