@font-face {
    font-family: 'anonymous_pro';
    src: url('../fonts/anonymouspro-regular-webfont.woff2') format('woff2'),
        url('../fonts/anonymouspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anonymous_pro';
    src: url('../fonts/anonymouspro-bold-webfont.woff2') format('woff2'),
        url('../fonts/anonymouspro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'geometr415';
    src: url('../fonts/geometr415_md_bt_medium-webfont.woff2') format('woff2'),
        url('../fonts/geometr415_md_bt_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fzimokenpi';
    src: url('../fonts/FZImokenpi-webfont.woff2') format('woff2'),
        url('../fonts/FZImokenpi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin flexCenter($direction, $justify: center, $align: center) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    justify-content: $justify; // Main Axis
    align-items: $align; // Secondary Axis
}

@mixin grid($gap: 0px, $width) {
    display: grid;
    grid-gap: $gap;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
}

@mixin neonText($blur: 10px, $color:white) {
    text-shadow:
        -2px -2px $blur rgba(255, 255, 255, 0.623),
        2px 2px $blur rgba(255, 255, 255, 0.623),
        0 0 20px $color;
}

@mixin neonBorder($condition:yes_inset) {
    color: #ffffff;
    box-shadow:
        0 1px 2px rgba(255, 255, 255, 0.6),
        2px 1px 4px rgba(255, 255, 255, 0.3),
        2px 4px 3px rgba(255, 255, 255, 0.3),
        0 0 7px 2px rgba(255, 255, 255, 0.6),
        inset 0 1px 2px rgba(255, 255, 255, 0.6),
        inset 2px 1px 4px rgba(255, 255, 255, 0.3),
        inset 2px 4px 3px rgba(255, 255, 255, 0.3),
        inset 0 0 7px 2px rgba(255, 255, 255, 0.6);
        
        @if $condition == no_inset {
            box-shadow:
                0 1px 2px rgba(255, 255, 255, 0.6),
                2px 1px 4px rgba(255, 255, 255, 0.3),
                2px 4px 3px rgba(255, 255, 255, 0.3),
                0 0 7px 2px rgba(255, 255, 255, 0.6);
        }
}


$base: rgb(2, 25, 38);
$baseTransparent: rgba(2, 25, 38, 0.24);

$accent: rgba(247, 81, 85);

$ligth: rgb(3, 50, 69);
$dark: rgb(6, 31, 47);

$gradient: linear-gradient(transparent 30%, $baseTransparent 50%, $base 100%);

* {
    font-family: anonymous_pro;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    scroll-behavior: smooth;

    ::selection {
        background-color: rgb(196, 63, 65);;
        color: #fff;
      }

}

a {
    text-decoration: none;
}

h1 {
    font-family: geometr415;
}

button, .button {
    @include flexCenter(row);
    cursor: pointer;
    background-color: transparent;
    border: solid 1px rgb(255, 255, 255);
    padding: 5px 35px;
    
    transition: all 0.20s;
    
    img {
        margin-right: 10px;
        width: 24px;
    }

    &:hover {
        transform: translate(-3px, -3px);
        background-color: $accent;
        @include neonText();
        @include neonBorder(no_inset);
    }
}

section {
    h1 {
        @include neonText(20px);
        padding: 5px 5vw;
        margin-bottom: 1.4rem;
    }
}

b {
    font-size: 18px;
    background-image: linear-gradient(transparent 70%, $accent 30%);
}

ul, li {
    list-style: none;
}

p {
    a {
        transition: all 0.3s ease 0s;
        color: $accent;
        background-image: none;
        font-weight: bolder;
        font-size: 18px;
        
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}