<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alex Duran</title>
    <link rel="icon" href="/assets/icons/terminal-solid.svg">
    
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css">
    
    <script src="https://kit.fontawesome.com/4bde6bf509.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/navigation'); %>
    <main>
        <h1>main</h1>

        <%- include('../partials/tech'); %>

    </main>
    <%- include('../partials/footer'); %>
</body>
</html>