@import 'foundation';
body {
    background-color: $base;
}

nav {
    background-color:transparent;
    @include flexCenter(row, space-between);
    width: 100vw;
    font-size: 18px;

    position: sticky;
    top: 0px;
    z-index: 100;
    transition: all 0.5s ease 0s;


    padding: 15px 70px;

    .symbol {
        font-size: 25px;
        font-family: fzimokenpi;
    }

    ul {
        @include flexCenter(row);

        &:last-child {
            margin-right: 0px;
        }
    }

    li {
        margin-right: 70px;

        transition: all 0.25s;
        
        &:hover {
            padding-bottom: 10px;
            border-bottom: solid 3px rgb(255, 255, 255);
            @include neonText()
        }

    }
}

.solid {
    background: $base;
}


header {
    margin-top: -10vh;
    height: 100vh;
    background-image: $gradient,
    url(/assets/images/highway.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flexCenter(column);

    h1 {
        font-size: 48px;
        margin: 0px 0px 15px 0px;
    }

    h3 {
        @include neonText();
        width: 40%;
        text-align: center;
    }

    .header-buttons {
        margin-top: 50px;
        @include flexCenter(row)
    }

    .projects_button {
        margin-right: 20px;
    }
}

.about {
    @include flexCenter(column);
    padding: 10px 0px 30px;

    .content {
        width: 80vw;

        @include grid(30px);
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    }

    .picture {
        @include flexCenter(row);
    }

    img {
        width: 20rem;
        box-shadow: 2.5rem 2.5rem 0px 0px $accent;
        margin-right: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        align-items: center;
    }
}

.tech {
    @include flexCenter(column);
    padding: 10px 0px 30px;
    margin: 2rem 0rem;

    background-color: $accent;
    transform: skewY(-4deg);
    
    h1 {
        transform: skewY(4deg);
    }

    .content {
        @include flexCenter(row);
        width: 70vw;
        padding: 1.1rem;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        grid-gap: 45px;

        transform: skewY(4deg);
    }

    .logo {
        @include flexCenter(column);
        transition: transform 0.3s;

        &:hover {
            cursor: pointer;
            transform: scale(1.3);
        }
    }

    img {
        width: 60px;
    }
}

.projects {
    @include flexCenter(column);
    padding: 10px 0px 70px;

    .card {
        @include flexCenter(column);
        padding: 40px;

        background: rgba(6, 31, 47, 0.13);
        box-shadow: 0px 0px 51px 11px rgba(255, 255, 255, 0.171);
        border: 1px solid rgb(255, 255, 255);
    }

    .content {
        width: 80vw;

        @include grid(30px);
        grid-template-columns: repeat(auto-fit, minmax(482px, 1fr));

    }
    img {
        width: 32rem;
    }

    .picture {
        @include flexCenter(column);
    }

    p {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    li {
        margin: 15px 0px
    }

}

footer {
    @include flexCenter(column);
    background-color: $ligth;
    padding: 15px 10px;

    ul {
        @include flexCenter(row);
        margin-top: 12px;
    }

    li {
        margin-right: 40px;
        transition: transform 0.3s;

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            cursor: pointer;
            padding-bottom: 1px;
            border-bottom: solid 2px rgb(255, 255, 255);
            transform: scale(1.2);
        }
    }

    img {
        width: 25px;
    }
}

.quote {
    @include flexCenter(column);
    background-color: $accent;
    transform: skewY(-4deg);
    margin: 2rem 0rem;

    .content {
        width: 70vw;
        padding: 1.1rem;
    }
    
    blockquote {
        font-family: geometr415;
        font-size: 28px;

        &:before, &:after {
            content: '“';
            font-size: 30px;
            font-family: fzimokenpi,
        }
    }
}

//* CLASSES
.resume {
    @include flexCenter(row);
    img {
        margin-right: 10px;
        width: 24px;
    }
}
