@import 'foundation';
body {
    background-color: $base;
}


nav {
    background-color:transparent;
    @include flexCenter(row, space-between);
    width: 100vw;
    font-size: 18px;

    position: sticky;
    top: 0px;
    z-index: 100;
    transition: all 0.5s ease 0s;


    padding: 15px 70px;

    .symbol {
        font-size: 25px;
        font-family: fzimokenpi;
    }

    ul {
        @include flexCenter(row);
        list-style: none;

        &:last-child {
            margin-right: 0px;
        }
    }

    li {
        list-style: none;
        margin-right: 70px;

        transition: all 0.25s;
        
        &:hover {
            padding-bottom: 10px;
            border-bottom: solid 3px rgb(255, 255, 255);
            @include neonText()
        }

    }
}

.solid {
    background: $accent;
}


header {
    margin-top: -10vh;
    height: 100vh;
    background-image: $gradient,
    url(/assets/images/highway.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flexCenter(column);

    h1 {
        font-size: 48px;
        margin: 0px 0px 15px 0px;
    }

    h3 {
        @include neonText();
        width: 40%;
        text-align: center;
    }

    .header-buttons {
        margin-top: 50px;
        @include flexCenter(row)
    }

    .projects {
        margin-right: 20px;
    }
}

.about {
    @include flexCenter(column);
    padding: 10px 0px 30px;

    .content {
        width: 80vw;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        align-items: center;
    }

    .picture {
        @include flexCenter(row);
    }

    img {
        width: 20rem;
        box-shadow: 2.5rem 2.5rem 0px 0px $accent;
        margin-right: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        align-items: center;
        
        b {
            font-size: 18px;
            background-image: linear-gradient(transparent 60%, $accent 40%);
        }
    }
}

.tech {
    @include flexCenter(column);
}


//* CLASSES
.resume {
    @include flexCenter(row);
    img {
        margin-right: 10px;
        width: 24px;
    }
}
